.section-about{
    background-color: #202020;
    height: 470px;

    &__menu{
        display: flex;
        margin: 0;
        justify-content: space-between;
        padding: 0;

        &--number{
            color: #FFF;
            font-size: 48px;
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 5px;
            @media (max-width:768px){
                font-size: 36px;
            }
        }
        &--text{
            color: #FFF;
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        }   
    }
}

.section-about-text{
    color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 40px;
}

.element{
    position: absolute;
    border-radius: 50%;
border: 1px solid #737373;
width: 268px;
height: 512px;
transform: rotate(45deg);


@media(min-width: 320px){
    left: 300px;
    width: 167px;
height: 320px;
    top: 0;
}
    @media(min-width: 768px){
        left: 600px;
        top: 0;
        width: 268px;
height: 512px;
    }
    @media(min-width: 1200px){
        left: 800px;
        top: 0;
        width: 268px;
height: 512px;

    }


}

.element1{
    position: absolute;
    border-radius: 50%;
border: 1px solid #737373;
width: 268px;
height: 512px;
transform: rotate(-45deg);
@media(min-width: 320px){
    left: 300px;
    width: 167px;
height: 320px;
    top: 0;
}
    @media(min-width: 768px){
        left: 600px;
        top: 0;
        width: 268px;
height: 512px;
    }
    @media(min-width: 1200px){
        left: 800px;
        top: 0;
        width: 268px;
height: 512px;

    }


}

