.svg_footer{


    &--dawn{
    @media (max-width: 768px){
        width: 52px;
        height: 51px;
    }
    @media (min-width: 768px){
        width: 108px;
        height: 108px;
    }
    }

    &--arrow{
        @media (max-width: 768px){
            width: 33px;
            height: 15px;
        }
        @media (min-width: 768px){
          width: 55px;
          height: 26px;
        }
        }
}

.main_menu--social{
    gap: 34px;
}

.social-network{
    display: flex;
    align-items: center;
    gap: 21px;
    flex-direction: column;

    @media (max-width: 768px){
        margin-top: 113px;
    }
    @media (min-width: 768px){
        margin-top: 60px;
    }
    @media (min-width: 1200px){
        margin-top: 163px;
    }

    &__menu{
        display: flex;
        gap: 34px;
        padding: 0;
        margin: 0;
    }
}