.conteiner{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    
    @media (min-width: 320px){
        width: 340px;   
    }
    @media (min-width: 768px){
        width: 705px;
    }
    @media (min-width: 1200px){
        width: 1050px;
    }

    &--header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 18px;
    }

    &--about{
        height: 470px;
    }

    &--good-disign{
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 768px){
            height: 498px;
        }
        @media (min-width: 768px){
            height: 800px;
        }
    }

    &--footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media (max-width: 768px){
            height: 342px;
        }
        @media (min-width: 768px){
            height: 408px;
        }
        @media (min-width: 1200px){
            height: 530px;
    }
    }
}

.conteiner_text{
    width: 540px;
    padding-top: 101px;

    @media (max-width: 768px){
        padding-top: 72px;
        width: 342px;
    }
}